* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgba(255, 33, 33, 0.664);

  .navbar {
    background: rgb(127, 91, 192);
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;

    .navbar-logo {
      color: blue;
    }

    .navbar-slogan {
      color: white;
    }

    .navitems {
      .navitem-list {
        display: flex;
        list-style: none;

        .nav-item {
          padding: 0.3rem;

          .nav-link {
            font-size: 1.2rem;
            text-decoration: none;
            color: bisque;
          }

          .nav-link:hover {
            color: rgb(238, 174, 96);
            transition: 0.8s all ease-in-out;
          }
        }
      }
    }
  }
}
