* {
  h1,
  h2,
  h3 {
    font-family: "Ubuntu Mono", monospace;
  }
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    119.36deg,
    #d9e6ff 0%,
    rgba(92, 148, 255, 0.31) 100%
  );
}
