nav .navbar-nav li a {
  color: #f5d6c6 !important;
  padding-left: 10px;
}
nav .navbar-nav li a:hover {
  color: #fa9a85 !important;
}
.navbar-text {
  font-family: bungee, sans-serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 300;
}
.navlink {
  font-family: pt-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
}
