/* this section is for global css variables */
:root {
  --font-nunito: "Nunito", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-accent: #ff6600;
  --color-primary: ;
}
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  border-radius: 50%;
}
button {
  width: 25vw;
  padding: 5vh;
  border: none;
  font-family: var(--font-nunito);
}
button:hover {
  background-color: black;
  background-blend-mode: overlay;
}

.accent {
  background-color: var(--color-accent);
}
.hero_section {
  font-family: var(--font-nunito);

  margin: 20px;
}
.img_section {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.call_to_action {
  display: flex;
  justify-content: center;
}

.logo_container {
  display: flex;
  justify-content: center;
}
container_3 {
  background-color: #fcba21;
}
